body {
    background-color: black;
}

h1 {
    color: green;
}

body {
    color: green;
}

textarea {
	color: green;
	background-color: black;
}

input {
	color: green;
	background-color: black;
}

@font-face {
	 font-family: "C64 Pro Mono Local";
	 src: url("C64_Pro_Mono-STYLE.ttf") format("truetype");
}


@font-face {
	 font-family: "C64 Pro Local";
	 src: url("C64_Pro-STYLE.ttf") format("truetype");
}


.c64pm {
	font: normal 24pt/32px "C64 Pro Mono Local", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.c64p {
	font: normal 24pt/32px "C64 Pro Local", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.px8 {
	font-size: 6pt;
	line-height: 8px;
}
.px10 {
	font-size: 8pt;
	line-height: 10px;
}
.px12 {
	font-size: 9pt;
	line-height: 12px;
}
.px16 {
	font-size: 12pt;
	line-height: 16px;
}
.px24 {
	font-size: 18pt;
	line-height: 24px;
}
.px32 {
	font-size: 24pt;
	line-height: 32px;
}
.px40 {
	font-size: 30pt;
	line-height: 40px;
}

table, tr, td {
	padding: 0;
	margin: 0;
}
thead, tbody, tr, td {
	background-color: inherit;
}
td {
	font: inherit;
	border-right: 2px solid #888;
	border-bottom: 2px solid #888;
}
td:first-child {
	border-left: 2px solid #888;
}
tr:first-child td {
	border-top: 2px solid #888;
}
td:hover {
	background-color: #000 !important;
	color: #fff !important;
}
table {
	border-top: 4px solid #000;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}

.d020-00 {
	background-color: #000000;
}
.d021-00 {
	color: #000000;
}
.d020-06 {
	background-color: #352879;
}
.d021-06 {
	color: #352879;
}
.d020-0e {
	background-color: #6C5EB5;
}
.d021-0e {
	color: #6C5EB5;
}



